* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.component-img {
    width: 100%;
    position: relative;
}

.component-img-tag {
    width: 100%;
    height: 100%;
}

.toggle-btn {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    rotate: 90deg;
    color: white;
    background-color: black;
    transition: 0.25s all;
    border: 1px solid black;
}

.toggle-btn-ab {
    position: relative;
}

.toggle-btn-banner-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.toggle-btn-banner {
    background-color: #fcfcfcde;
    padding: 14px;
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
    display: none;
    border: 1px solid black;
    z-index: 5;
}

.component-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.component-container-1 {
    position: absolute;
    top: 74%;
    left: 32%;
}

.component-container-2 {
    position: absolute;
    top: 57%;
    left: 44%;
}

.component-container-3 {
    position: absolute;
    top: 42%;
    left: 52%;
}

.component-container-4 {
    position: absolute;
    top: 44%;
    left: 63%;
}

.component-container-5 {
    position: absolute;
    top: 44%;
    left: 77%;
}

.toggle-btn.active~.toggle-btn-banner {
    display: block;
    transition: 0.25s all;
}

.toggle-btn.active {
    background-color: white;
    color: black;
    rotate: 45deg;
    transition: 0.25s all;
}

@media screen and (min-width: 480px) and (max-width: 768px) {

    body {
        overflow: hidden;
    }

    .component-container {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn-banner {
        background-color: #fcfcfcde;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        cursor: pointer;
        display: none;
        border: 1px solid black;
        z-index: 5;
    }

    .toggle-btn-banner-text {
        font-size: 10px;
    }

    .toggle-btn-banner-title {
        font-size: 14px;
    }

    .toggle-btn {
        padding: 3px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 479px) {

    body {
        overflow: hidden;
    }

    .component-container {
        display: flex;
        flex-direction: column;
    }

    .toggle-btn-banner {
        background-color: #fcfcfcde;
        padding: 10px;
        border-radius: 10px;
        width: 150px;
        cursor: pointer;
        display: none;
        border: 1px solid black;
        z-index: 5;
    }

    .toggle-btn-banner-text {
        font-size: 10px;
    }

    .toggle-btn-banner-title {
        font-size: 14px;
    }

    .toggle-btn {
        padding: 3px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

    .toggle-btn-banner-ab {
        position: absolute;
        right: 0;
        top: 37px;
    }

}